<%- include('partials/head.ejs')%>
  <%- include('partials/homenavbar.ejs')%>

    <body>
      <main class="container mt-5">
        <section class="d-flex gap-4 flex-wrap justify-content-center ">
          <% result.articles.rows.forEach((article)=> { %>
            <div class="card d-flex flex-column flex-fill" style="max-width: 30ch;">
              <div class="card-body">
                <h5 class="card-title">
                  <%= article.title %>
                </h5>

              </div>

              <div class="card-footer text-muted text-center">
                <a style="width: 12ch;" href="/<%= article.slug %>" class="btn btn-secondary mb-3 mt-3">Ler artigo</a>
                <p>
                  <%= article.createdAt.getDate() %>/<%= article.createdAt.getMonth()+1 %>/<%= article.createdAt.getFullYear() %>
                </p>
              </div>

            </div>
            <% }) %>
        </section>
        <div class="mt-5 d-flex justify-content-between">
          <% if(result.pageNumber> 2 ) { %>
            <a class="btn btn-outline-secondary" href="/articles/page/<%= result.pageNumber - 1 %>">P치gina Anterior</a>
            <% } else if (result.pageNumber==2) { %>
              <a class="btn btn-outline-secondary" href="/">P치gina Anterior</a>
              <% } %>


                <% if(result.next) { %>
                  <a class="btn btn-outline-secondary" href="/articles/page/<%= result.pageNumber + 1 %>">Pr칩xima P치gina</a>
                  <% } %>
        </div>

      </main>
    </body>

    <%- include('partials/foot.ejs')%>