<%- include('partials/head.ejs')%>
  <%- include('partials/homenavbar.ejs')%>

    <body>
      <main class="container mt-5">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Bem vindo ao BlogPress!</h1>
            <p class="lead">Esse é um projeto de um blog desenvolvido utilizando NodeJS.</p>
          </div>
        </div>
        <section class="d-flex gap-3 flex-wrap justify-content-between">
          <% articles.forEach((article)=> { %>
            <div class="card" style="min-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">
                  <%= article.title %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <%= article.category.title %>
                </h6>
                <a href="/<%= article.slug %>" class="btn btn-dark">Ler artigo</a>
              </div>
              <p class="ms-auto me-3">
                <%= article.createdAt.getDate() %>/<%= article.createdAt.getMonth()+1 %>/<%= article.createdAt.getFullYear() %>
              </p>
            </div>
            <% }) %>
        </section>

      </main>
    </body>

    <%- include('partials/foot.ejs')%>