<%- include('../../partials/head.ejs')%>
  <%- include('../../partials/navbar.ejs')%>
    <section class="container">
      <h2 class="mt-5">Usuários</h2>
      <a href="/admin/users/create" class="btn btn-dark mt-5 mb-3">Criar novo usuário</a>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>

            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user)=> { %>
            <tr>
              <td>
                <%= user.id %>
              </td>
              <td>
                <%= user.email %>
              </td>

              <td>
                <%= user.createdAt.getDate() %>/<%= user.createdAt.getMonth()+1 %>/<%= user.createdAt.getFullYear() %>
              </td>
            </tr>
            <% }) %>
        </tbody>

      </table>
    </section>
    <%- include('../../partials/foot.ejs')%>